<html>
<head>
    <title>Meal planner</title>
    <style type="text/css">
    body {
        font-size: 62.5%;
    }
    </style>
    <!--script src="http://code.jquery.com/jquery-1.4.2.min.js"></script-->
    <script src="/jquery/"></script>
</head>
<body>
<h1>Meal planner</h1>
<div id="planner">
    {% include "meals/planner_inner.html" %}
</div>
<script>
$(function () {
    $('#planner select').live('change', function () {
        $('#shopping-list').text('Loading ...');
        $('#planner').load('.', $('form').serializeArray());
    });
})
</script>
</body>
</html>
