<form method="post" action=".">
    {{ formset.management_form }}
    <table>
        <tr>
            <th></th>
            <th>Nutrition</th>
            {% for meal in meals %}
                <th>{{ meal.name }}</th>
            {% endfor %}
        </tr>
        {% for group in grouped_forms %}
            <tr>
                <th>{{ weekdays.next }}</th>
                <td>
		{% with daily_nutrition.next as nutrition %}
                    <table>
                    {% for nutrient, amount in nutrition.items %}
                        <tr>
                            <th>{{ nutrient }}</th>
                            <td>{{ amount.amount }}</td>
                        </tr>
                    {% endfor %}
                    </table>
                {% endwith %}
                </td>
                {% for form in group %}
                    <td>{{ form.as_p }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <!--input type="submit" name="submit" value="submit"-->
</form>
<h1>Shopping list</h1>
<div id="shopping-list">
<table>
{% for ingredient, amount in shopping_list.items %}
    <tr>
        <td>{{ amount.amount }} {{ amount.pluralize_unit }}</td><td>{{ amount.pluralize_ingredient }}</td>
    </tr>
{% endfor %}
</table>
</div>
<script>
$(function () {

    var active_select;

    $('body').click(function (e) {
        if (active_select && e.target !== active_select.get(0) && e.target !== active_select.next().get(0)) {
            deactivate_select();
        }
    });

    var deactivate_select = function () {
            active_select.hide();
            active_select.next().show();
            active_select = null;
    };

    var select_widget = function (select) {
        var display = $('<span>------</span>');
        select.after(display);
        select.hide();
        display.text(select.find('option:selected').text());
        display.click(function (e) {
            if (active_select) {
                deactivate_select();
            }
            display.hide();
            select.show();
            select.click();
            active_select = select;
        });
    }

    $('select').each(function () {
        select_widget($(this));
    });

});
</script>
