{% extends "meals/base.html" %}

{% block content %}
<ul>
    {% for recipe in recipe_list %}
        <li><a href="#rec{{ forloop.counter }}">{{ recipe.name }}</a></li>
    {% endfor %}
</ul>

{% for recipe in recipe_list %}
    <h1 id="rec{{ forloop.counter }}">{{ recipe.name }}</h1>
    <dl>
        <dt>Preparation time</dt>
        <dd>{{ recipe.preparation_time }}</dd>
        <dt>Cooking time</dt>
        <dd>{{ recipe.cooking_time }}</dd>
    </dl>
    <h2>Ingredients</h2>
    <ul>
        {% for ingredient in recipe.ingredients.all %}
            <li>{{ ingredient.amount }} {{ ingredient.unit }} {{ ingredient.ingredient.name }}</li>
        {% endfor %} 
    </ul>
    <h2>Method</h2>
    {{ recipe.method|linebreaks }}
    <h2>Nutrition</h2>
    <ul>
        {% for nutrient, amount in recipe.get_nutrition.items %}
            <li>{{ amount }} {{ nutrient.name }}</li>
        {% endfor %}
    </ul>
    <hr>
{% endfor %}
{% endblock %}
